@CHARSET "UTF-8";
body {
	/*body与页面有8px的默认外边距 */
	margin: 0;
	font: 12px "simhei", Arial, Helvetica, sans-serif;
	color: #666;
	background-color: #f5f5f5;
}

header {
	width: 1000px;
	margin: 0 auto;
	/*没有高度会自动识别   */
	overflow: hidden; /*解决高度识别为0  */
	margin-top: 20px;
	margin-bottom: 30px;
}

header>img {
	float: left;
	margin-left: 40px;
}

header>h1 {
	float: left;
	color: #4f4d4e;
	font-size: 24px;
	font-weight: normal;
	margin-left: 10px;
	margin-top: 10px;
}

#form_div {
	height: 560px;
	background-image: url("http://doc.tedu.cn/tstore_v1/images/regist.png");
}

#form_div>div {
	width: 253px;
	height: 277px;
	padding: 10px; /*四个方向添加空白不贴边显示   */
	background-color: rgba(0, 0, 0, 0.3);
	float: right;
	margin-right: 122px;
	margin-top: 122px;
}

#form_div>div>p {
	height: 40px;
	line-height: 40px;
	color: white;
	font-size: 18px;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 10px;
}

/*分组选择器选中两个超链接   */
#form_div>div>p>a, #auto_div>a {
	float: right;
	color: white;
	font-size: 12px;
	text-decoration: none;
	margin-top: 5px;
}

.filed>input {
	width: 213px; /*253-20*2  */
	/*input标签默认有个边框  */
	border: 0; /* 去除边框  */
	padding: 10px 20px;
	background-color: rgb(250, 255, 189);
}

.filed { /*给图片做位置参考  */
	position: relative;
}

.filed>img {
	position: absolute;
	top: 4px;
	right: 20px;
}

.filed>p {
	color: red;
	margin-bottom: 10px;
	margin-top: 5px;
}

#auto_div>label {
	color: white;
}

#auto_div>input {
	/*如果需要对某个元素做位置微调则使用以下方式   */
	position: relative;
	top: 3px;
}

input[type='submit']{
	width: 100%;
	height: 35px;
	background-color: #0aa1ed;
	border:0;
	color: white;
	border-radius:3px; 
	margin-top: 5px;
}

#service_div{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;/*解决高度为0的问题   */
}

#service_div>div{
	width:250px;
	float: left;
	text-align: center;
	margin-top: 43px;
	margin-bottom: 74px;
}

#service_div>div>p{
	margin-top: 0;
}

footer{
	background-color: white;
	overflow: hidden;
}

footer>div{ 
	width: 1000px;/*没有设置高度,自动识别   */
	margin: 0 auto;
	overflow: hidden;/*解决高度识别为0的问题   */
}

footer>div>div{
	width: 333px;
	float: left;
	margin-top: 62px
}

footer>p{
	text-align: center;
	color: black;
}



#center_div ul{
	list-style-type: none;/*去除图标  */
	padding: 0;/*去除二层ul的缩进   */
}
#center_div>ul>li{
	float: left;
	width: 111px;
	text-align: center;
}

#center_div>ul>li>a{/*去除a下划线   */
	text-decoration: none;
	font-size: 14px;
	color: #333;
}
#center_div>ul>li>ul>li>a{/*去除a下划线   */
	text-decoration: none;
	font-size: 12px;
	color: #808080;
	display: block;/*a是行内元素,更改显示方式方可设置宽高   */
	margin-top: 10px;
}


#right_div>div{
	width: 160px;
	float: left;
	text-align: center;
}
#right_div>img{
	float: left;
	margin-top: 13px;
}
#right_div>div>p{
	font-size: 14px;
	margin-bottom: 11px;
}